.error {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.btn-ring{
    display: none;
}
.btn-ring:after {
    content: "";
    display: inline-grid;
    width: 22px;
    height: 22px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ring 1.2s linear infinite;
}
@keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}